[project]
	description = Executes groovy database migration scripts using Liquibase
[access "refs/*"]
	owner = group user/Davide Cavestro (davidecavestro)
[access "refs/for/refs/*"]
	read = group user/Davide Cavestro (davidecavestro)
	push = group user/Davide Cavestro (davidecavestro)
	label-Code-Review = -2..+2 group user/Davide Cavestro (davidecavestro)
	label-Verified = -1..+1 group user/Davide Cavestro (davidecavestro)
	rebase = group user/Davide Cavestro (davidecavestro)
	removeReviewer = group user/Davide Cavestro (davidecavestro)
	submit = group user/Davide Cavestro (davidecavestro)
[access "refs/heads/*"]
	read = group user/Davide Cavestro (davidecavestro)
	create = group user/Davide Cavestro (davidecavestro)
	push = +force group user/Davide Cavestro (davidecavestro)
	pushMerge = group user/Davide Cavestro (davidecavestro)
[access "refs/tags/*"]
	push = +force group user/Davide Cavestro (davidecavestro)
	pushTag = group user/Davide Cavestro (davidecavestro)
	pushSignedTag = group user/Davide Cavestro (davidecavestro)
